/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.container-small {
    max-width: 800px;
    margin: 0 auto;
}

.white-button {
    border: none;
    background-color: white;
    
}

.blu-button {
    border: none;
    background-color: #0061FF;
    padding: 5px 10px;
    color: white;
    transition: 0.6s;
}

.blu-button:hover {
    border-radius: 10px;
}


/*HEADER*/

/*HEADER TOP */

.header-top {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: white;
}

.header-top > * {
    width: calc(100% / 2);
}

.header-top .header-top-left nav ul li img {
    vertical-align: middle;
    padding: 20px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    padding: 20px 10px;
    

}

.header-top nav ul li a {
    text-decoration: none;
    color: black;
    font-size: small;
}

.header-top nav ul li :hover:not(.blu-button) {
    color: #0061FF;
}

.header-top-right {
    text-align: right;
    
}

.header-top-right > * {
    margin-top: 20px;
}


/*HEADER BOTTOM */

.header-bottom {
    background-color: #B4D0E7;
    margin-top: 40px;
    margin-bottom: 120px;
}

.header-bottom > .container {
    position: relative;
    top: 70px;

}

h1 {
    font-size: 4em;
    margin-bottom: 40px;
    
}

.my-row {
    display:flex;

}

.col-left {
    width: 30%;
    
}

.col-left p {
    font-size: 0.8em;
    margin-bottom: 30px;
}

.col-left button {
    color: white;
    padding: 10px 5px;

}

.col-left h5 {
    font-weight: 400;
    font-size: 0.75em;
    margin-top: 30px;
}

.col-left .arrow {
    font-size: 2.5em;
    margin-top: 40px;
}

.col-right {
    width: 70%;
}

.col-right img {
    width: 100%;
}


/*MAIN*/

/*FISRT SECTION*/

h2 {
    font-size: 2em;
}

.container-small .fatturazione {
    margin: 50px 0;
}
.container-small .fatturazione h5 {
    font-weight: 400;
    display: inline;
    margin-right: 40px;
}

.checked-circle {
    color: #0061FF;
}

.my-col {
    width: 30%;
    border: 1px solid rgb(0, 0, 0, 0.3);
    align-items: stretch;
}

main > section .my-row > :nth-child(2) {
    margin: 0 5%;
    
}

main > section .my-row .my-col > :first-child {
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 400;
    padding: 5px 0;
}

.info-price-plan {
    padding: 0 20px;
}

.info-price-plan h3{
    padding-top: 20px;
    padding-bottom: 15px;
}

.info-price-plan h4{
    font-size: 0.8em;
    padding-bottom: 10px;
}

.info-price-plan :nth-child(3){
    font-weight: 400;
    color: rgb(0, 0, 0, 0.5);
    padding-bottom: 40px;
}

.info-price-plan h5{
    font-weight: 400;
    font-size: 0.85em;
    padding-bottom: 15px;
}

.info-price-plan button {
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.info-price-plan span {
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    padding-bottom: 30px;
}

.info-price-plan a, .blu-check {
    color: #0061FF;
}

.info-price-plan > :last-child {
    margin-bottom: 40px;
}



/*DEBUG*/

.section {
    background-color: aquamarine;
    margin-top: 50px;
    height: 200px;
}


