/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.container-small {
    max-width: 800px;
    margin: 0 auto;
}

.white-button {
    border: none;
    background-color: white;
    
}

.blu-button {
    border: none;
    background-color: #0061FF;
    padding: 5px 10px;
    color: white;
    transition: 0.6s;
}

/*BUTTON EXTRA HOVER*/
.blu-button:hover {
    border-radius: 10px;
}

h5 {
    font-weight: 400;
}

.my-row {
    display:flex;
    flex-wrap: wrap;
}


/*HEADER*/

/*HEADER TOP */

.header-top {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: white;
}

.header-top > * {
    width: calc(100% / 2);
}

.header-top .header-top-left nav ul li img {
    vertical-align: middle;
    padding: 20px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    padding: 20px 10px;
    

}

.header-top nav ul li a {
    text-decoration: none;
    color: black;
    font-size: small;
}

.header-top nav ul li :hover:not(.blu-button) {
    color: #0061FF;
}

.header-top-right {
    text-align: right;
    
}

.header-top-right > * {
    margin-top: 20px;
}


/*HEADER BOTTOM */

.header-bottom {
    background-color: #B4D0E7;
    margin-top: 40px;
    margin-bottom: 120px;
}

.header-bottom a {
    color: black;
}

.header-bottom > .container {
    position: relative;
    top: 70px;

}

h1 {
    font-size: 4em;
    margin-bottom: 40px;
    
}



.col-left {
    width: 30%;
    
}

.col-left p {
    font-size: 0.8em;
    margin-bottom: 30px;
}

.col-left button {
    color: white;
    padding: 10px 5px;

}

.col-left h5 {
    font-weight: 400;
    font-size: 0.75em;
    margin-top: 30px;
}

.col-left .arrow {
    font-size: 2.5em;
    margin-top: 40px;
}

.col-right {
    width: 70%;
}

.col-right img {
    width: 100%;
}


/*MAIN*/

/*FISRT SECTION*/

h2 {
    font-size: 2em;
}

.container-small .fatturazione {
    margin: 50px 0;
}
.container-small .fatturazione h5 {
    font-weight: 400;
    display: inline;
    margin-right: 40px;
}

.checked-circle {
    color: #0061FF;
}

main > :first-child .my-col {
    width: 30%;
    border: 1px solid rgb(0, 0, 0, 0.3);
    align-items: stretch;
}

main > :first-child .my-row > :nth-child(2) {
    margin: 0 5%;
    
}

main > :first-child .my-row .my-col > :first-child {
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 400;
    padding: 5px 0;
}


/* FIRST SECTION PRICE PLAN*/


.info-price-plan ul li span {
    border-bottom: none;
    display: block;
}

.info-price-plan ul li {
    display: block;
    padding: 5px 0px;
}

.info-price-plan ul li h5 {
    font-size: 0.7em;
}

.info-price-plan ul {
    margin-left: 0px;
    padding: 0 20px;
}


.info-price-plan {
    padding: 0 20px;
}

.info-price-plan h3{
    padding-top: 20px;
    padding-bottom: 15px;
}

.info-price-plan h4{
    font-size: 0.8em;
    padding-bottom: 10px;
}

.info-price-plan > :nth-child(3){
    font-weight: 400;
    color: rgb(0, 0, 0, 0.5);
    padding-bottom: 40px;
}

.info-price-plan h5{
    font-weight: 400;
    font-size: 0.85em;
    padding-bottom: 15px;
}

.info-price-plan button {
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.info-price-plan span {
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    padding-bottom: 30px;
}

.info-price-plan a, .blu-check {
    color: #0061FF;
}

.info-price-plan > :last-child {
    margin-bottom: 40px;
}

/*SECOND SECTION*/

main > :nth-child(2) .container-small {
    margin-top: 40px;
    margin-bottom: 100px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    
}

main > :nth-child(2) .container-small > h5{
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 400;
    padding: 8px 0px;
}

main > :nth-child(2) .col-left > .info-col-left {
    padding-left: 20px;
    padding-top: 20px;
}

main > :nth-child(2) .col-left > .info-col-left > h3{
    padding-bottom: 10px;
}

main > :nth-child(2) .col-left > .info-col-left > h4{
    padding-bottom: 10px;
    font-size: 0.8em;
}

main > :nth-child(2) .col-left > .info-col-left > h5{
    padding-bottom: 20px;
}

main > :nth-child(2) .col-left {
    width: 70%;
}

main > :nth-child(2) .col-right {
    width: 30%;
    text-align: center;
    padding-top: 20px;
}

main > :nth-child(2) .col-right > .blu-button {
    padding: 10px 30px;
}

/*THIRD SECTION*/

main > :nth-child(3) > :first-child{
    margin-bottom: 100px;
}

main > :nth-child(3) .col-left{
    width: 60%;
}

main > :nth-child(3) .col-left > img {
    width: 100%;
}

main > :nth-child(3) .col-right{
    width: 40%;
}

main > :nth-child(3) .col-right .info-col-right{
    padding: 50px 40px;
}

main > :nth-child(3) .col-right .info-col-right > h3,h5{
    padding-bottom: 15px;
}

main > :nth-child(3) .col-right .info-col-right > .blu-button {
    background-color: white;
    color: rgb(0, 0, 0, 0.7);
    border: 1px solid rgb(0, 0, 0, 0.7);
    padding: 10px 15px;
}


/*FOURT SECTION*/

main > :nth-child(4) .my-row {
    margin-top: 40px;
    margin-bottom: 100px;
    align-items: stretch;
}

main > :nth-child(4) .my-col {
    width: 30%;
    margin-bottom: 40px;
}

main > :nth-child(4) .my-row > :nth-of-type(3n+2) {
    margin: 0 5%;
    margin-bottom: 40px;
}

main > :nth-child(4) .my-col img {
    width: 100%;
}

main > :nth-child(4) .my-col h3 {
    padding-top: 5px;
    padding-bottom: 20px;
}

main > :nth-child(4) .my-col h5 {
    font-size: 0.8em;
}

/*FOURTH SECTION EXTRA HOVER*/

main > :nth-child(4) .my-col:hover{
    border: 1px solid rgb(0, 0, 0, 0.5);
}

/*FIFTH SECTION*/

main > :nth-child(5) > .container-small > h2 {
    margin-bottom: 40px;
    padding-right: 200px;

}

main > :nth-child(5) > .container-small > a {
    color: #0061FF;
    font-size: 0.8em;
}

main > :nth-child(5) > .container-small {
    margin-bottom: 80px;
}

/*SIXTH SECTION*/

main > :nth-child(6) .square-col {
    width: calc(100% / 3);
    height: calc((100vw / 3) - 5.6px);
}

.square-col {
    display: flex;
    flex-wrap: wrap;  
}

.square-partener-col {
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square-partener-col img {
    width: 50%;
    filter: invert(100%);
    
}

.partener-1 {
    background-color: #A2D39B;
}

.partener-2 {
    background-color: #61082B;
}

.partener-3 {
    background-color: #0093CE;
}

.partener-4 {
    background-color: #FF1C1C;
}

.partener-5 {
    background-color: #D5001F;
}

.partener-6 {
    background-color: #B4D0E7;
}

.partener-7 {
    background-color: #0D2481;
}

.partener-8 {
    background-color: #FFD830;
}

.central-partener {
    background-color: #F5F5F5;
}

.central-partener {
    display: inline-block;
    pointer-events: none;
}

.central-partener img {
    width: 50%;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.central-partener hr {
    margin-left: 40px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0, 0.1);
    width: 20%;
}

.central-partener h5 {
    margin: 0px 40px 20px 40px;
}

/*EXTRA SIXTH SECTION*/

.square-col > :hover {
    border: 15px solid #D1E9CD;
}


/*SEVENTH SECTION*/

main > :nth-child(7) {
    background-color: #B4D0E7;
    margin-bottom: 140px;
    
}

main > :nth-child(7) .container-small {
    display: flex;
}

main > :nth-child(7) .container-small .col-left {
    width: 60%;
}

main > :nth-child(7) .container-small .col-right {
    width: 40%;
}

main > :nth-child(7) .container-small .col-left h2 {
    padding: 80px 0px;
    padding-right: 50px;
    color: #61082B;
   
}

main > :nth-child(7) .container-small .col-right button {
    padding: 10px 40px;
    margin-top: 90px;
}


/*FAQ SECTION*/

.faq-icon {
    text-align: end;
    padding-left: 100px;
}


hr {
    margin: 30px 0px;
    opacity: 0.5;
}

main > :nth-child(8) .container-small {
    margin-bottom: 100px;
}
main > :nth-child(8) .container-small h2 {
    margin-bottom: 40px;
}


/*FOOTER*/

footer {
    background-color: black;
}

.col-footer-top {
    width: calc((100% / 5) - (80px / 5));
}

footer .my-row > *:not(:last-child){
    margin-right: 20px;
}

.col-footer-top li {
    display: block;
    color: white;
    padding:0px 0px 10px 0px;
    font-size: small;
    
}

.col-footer-top ul li h4 {
    font-size: medium;
    padding-bottom: 20px;
    padding-top: 50px;
    
}

.col-footer-top ul li a {
    color: white;
    text-decoration: none;
    
}

.footer-bottom h3 {
    display: inline-block;
    font-size: small;
    color: rgb(255, 255, 255, 0.6);
    border-top: 1px solid  rgb(255, 255, 255, 0.6);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
}


